@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  margin-bottom: 10%;
  list-style: none;
}

:root {
  --Montserrat: 'Montserrat';

  --light: #1E1B6D;
  --blue: #3C91E6;
  --light-blue: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #342E37;
  --red: #DB504A;
  --yellow: #FFCE26;
  --light-yellow: #FFF2C6;
  --orange: #FD7238;
  --light-orange: #FFE0D3;

}

html {
  overflow-x: hidden;
}


body.dark {
  --light: #0C0C1E;
  --grey: #060714;
  --dark: #FBFBFB;
}

body {
  background: var(--grey);
  overflow-x: hidden;
  block-size: 100vh;
}





/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--lato);
  transition: .3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
  color: #f3f3f3;
}

#sidebar::--webkit-scrollbar {
  display: none;
}

#sidebar.hide {
  width: 60px;
}

#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: #f3f3f3;
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

#sidebar .brand .fas {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

#sidebar .side-menu li.active::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}

#sidebar .side-menu li.active::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: #f3f3f3;
  white-space: nowrap;
  overflow-x: hidden;
  font-family: var(--Montserrat);
}

#sidebar .side-menu.top li.active a {
  color: #1E1B6D;
  background-color: #f3f3f3;
}

#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width .3s ease;
}

#sidebar .side-menu li a.logout {
  color: var(--red);
}

#sidebar .side-menu.top li a:hover {
  color: var(--blue);
}

#sidebar .side-menu li a .fas {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

/* SIDEBAR */



/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: .3s ease;
  block-size: 100vh;
}

#sidebar.hide~#content {
  width: calc(100% - 60px);
  left: 60px;
}






/* NAVBAR */
#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--Montserrat);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#content nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}

#content nav a {
  color: #f3f3f3;
}

#content nav .fas.fas-menu {
  cursor: pointer;
  color: #f3f3f3;
}

#content nav .nav-link {
  font-size: 16px;
  transition: .3s ease;
}

#content nav .nav-link:hover {
  color: var(--blue);
}

#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}

#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: #f3f3f3;
}

#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: #f3f3f3;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

#content nav .notification {
  font-size: 20px;
  position: relative;
}

#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

#content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}

#content nav .switch-mode::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: all .3s ease;
}

#content nav #switch-mode:checked+.switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}

/* NAVBAR */





/* MAIN */
#content main {
  background-color: var(--grey);
  width: 100%;
  position: relative;
  padding: 36px 24px;
  font-family: var(--Montserrat);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
  block-size: 100vh;
}


.search-container {
  width: 25%;
  display: flex;
  margin-bottom: 20px;

}

/* CSS Styles */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black with opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on content */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.main-skills {
  display: flex;
  margin-top: 20px;
  height: 58%;
  width: 100%;

}

#more-blog {
  display: flex;
  flex-direction: column;
}

#more-blog h3 {
  margin-top: 40%;
  margin-right: 10%;
  margin-bottom: 5%;
  font-family: var(--Montserrat);


}
#more-blog button{
  margin-bottom: 10%;
}
#more-blog a {
  
  margin-right: 10%;
  font-family: var(--Montserrat);

  font-size: large;


}

.main-skills #cou {
  width: 70%;
  margin: 10px;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.518);
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;

}

/* Hide the default arrows */
.swiper-button-prev,
.swiper-button-next {
  background: none;
  width: auto;
  height: auto;
  font-size: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px;
  color: #000;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  color: #007bff;
}



#cou .subcou {

  color: #1E1B6D;
  width: 40%;
  margin-left: 2%;
  background: var(--grey);
  text-align: center;
  border-radius: 20px;
  padding-left: 20px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.208);
  display: inline-block;
  /* Ensure child elements are displayed in a line */

}

#cou #blogk {
  position: relative;

}

.image-overlay {

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.image-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.text-container {
  position: absolute;

  right: 20px;

  transform: translateY(-50%);
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  margin-left: 50%;
  top: 10%;

  text-shadow: 0 10px 20px #1E1B6D;


}

.text-container h2 {
  font-family: 'Montserrat';
}



#bloginfo {
  position: relative;
  box-sizing: 20%;


}

#bloginfo .bb {
  position: absolute;
  block-size: 20%;
  width: 15%;
}

#cou button {

  margin-right: 10%;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  background-color: #1E1B6D;
  color: #ffffff;
  cursor: pointer;
}

#cou button:hover {
  background-color: #407BFF;
}

#cou2 {
  width: 35%;
  margin: 10px;
  background: #1E1B6D;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.518);

  overflow-y: auto;
  /* Enable vertical scrolling */
  white-space: nowrap;
  position: relative;
}

.subcou2 {
  color: #1E1B6D;
  padding: 50px;
  background: rgb(255, 255, 255);
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.63);
  padding-bottom: 15%;
}


/* Courses */
.main-course {
  margin-top: 3px;
  text-transform: capitalize;
}

.course-box {
  width: 100%;
  height: 200px;
  padding: 20px 10px 30px 10px;
  margin-top: 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.course-box .course {
  display: flex;
}

.box {
  width: 33%;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background: var(--grey);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.251);
}

.box h3 {

  margin-top: 18px;
}

.box button {
  background: #000;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}

.box button:hover {
  background: rgba(0, 0, 0, 0.842);
}

.box i {
  font-size: 25px;
  float: left;
  margin: 20px 20px 50px 50px;
}



/*Attendance List section  */
#addUser {
  padding-bottom: 20px;

  width: 100%;
}

#addUser input::placeholder {

  color: #1E1B6D;
}

.attendance {

  margin-left: 2%;
  margin-top: 20px;
  text-transform: capitalize;
  width: 98%;
  height: 95%;
}

.attendance-list {

  width: 95%;
  padding: 10px;
  margin-top: 20px;
  background: var(--grey);
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.225);
}

.attendance-list h1 {
  margin-bottom: 2%;
}

.table-container {
  max-height: 500px;
  overflow-y: auto;
}

.table {

  border-collapse: collapse;
  margin: 25px 0;

  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

table thead tr {

  color: #1E1B6D;
  background: hsl(209, 43%, 80%);
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
}



.table button {
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #1E1B6D;
}

.table button:hover {
  background: hsl(209, 43%, 80%);
  color: #fff;
  transition: 0.5rem;
}

/*the setting section*/


#set {
  background-color: #f3f3f3;
  width: 100%;
  block-size: 16cm;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.188);
}

.sett {
  margin-left: 2%;
  margin-top: 2.5%;
  background-color: #ffffff;
  block-size: 5cm;
  width: 95%;
  border-radius: 10px;



}

.sett:nth-child(2) {
  block-size: 3.5cm;
}

.sett:nth-child(3) {
  block-size: 4cm;
}

.sett h3 {
  margin-top: 1%;
  margin-left: 2%;
  color: #493EEB;
}

.sett form {
  margin: 1% 8%;

  width: 90%;
}

.sett form table {
  width: 90%;
}

.sett form label {
  font-size: 15px;
}

.sett form input {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 8px;
  width: 50%;


}

.sett form ::placeholder {
  color: #000000;
}

.sett form .sav {

  margin-left: 0%;
  width: 80px;
  cursor: pointer;
  background-color: #493EEB;
  color: #000000;

}

.sett form .sav:hover {
  color: #ffffff;
  background-color: #1E1B6D;
  transition: 0.2s;

}



#i3 p {
  font-family: var(--Montserrat);
  font-size: 12px;
  margin-top: -3%;
  margin-left: 20px;

}

#i3 button {

  font-family: var(--Montserrat);
  border-radius: 15px;
  height: 30px;
  width: 80px;
  cursor: pointer;
  background-color: #493EEB;


}

#i3 button:hover {

  background-color: #1E1B6D;
  color: #D8E8F5;
  transition: 0.2s;
}

/*programs section*/
#Programs {
  background-color: #f3f3f3;
  width: 95%;
  block-size: 16cm;
  border-radius: 25px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.188);

}

.dropdown {
  display: inline-block;
}

.dropdown button {
  background-color: #1E1B6D;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 25px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.188);
  cursor: pointer;
}

.dropdown a {
  font-family: var(--Montserrat);
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

.dropdown .content {
  margin-left: 10px;
  display: none;
  position: absolute;
  background-color: #407BFF;
  min-width: 100px;
  box-shadow: 2px 2px 5px rgb(39, 35, 35);

}

.dropdown:hover .content {
  display: block;
}

.dropdown a:hover {

  background-color: #493EEB;
}

.program-section {
  margin-left: 2%;
  display: inline;

  max-height: 80%;


}


#languagesList ,#ActivityList {

  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
  max-height: 800px;
  overflow-y: scroll;


}

.language-item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  width: 80%;
  height: 80%;
  padding: 2px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.langdiv {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  width: 80%;
  height: 70%;
  padding: 20px;
  background-color: #d8d8e6;
  margin: 2%;

}

.language-item img {
  border-radius: 10%;
  width: 60px;
  height: 40px;
  margin-left: 10px;
  margin-right: 60px;
}

.language-item span {
  margin-right: 30px;
  font-size: larger;

}

.delete-btn {
  margin-top: -30%;
  cursor: pointer;
  color: red;
  background-color: #ffffff00;
}





.details-btn {
  background-color: #1E90FF;
  /* Adjust button color as needed */
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-family: var(--Montserrat);
  /* Adjust margin as needed */
}

.details-btn:hover {
  background-color: #0077FF;
  /* Adjust button color on hover as needed */
}


.Students_det {
  position: relative;


}

.file {
  position: absolute;

  margin-top: 5%;
}

#info1 {
  margin-left: 3%;
  height: 50%;
}

#info2 {
  margin-left: 40%;
}

#student_info {
  block-size: 50%;
}

#student_img {
  width: 200px;
  block-size: 150px;
}

.file #claass {

  margin-top: 10%;
  background-color: #fff;
  width: 400px;
  block-size: 400px;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.36);
  border-radius: 10px;


}

/*user infromation*/
#userinformation {
  display: flex;
  justify-content: space-around;

  height: auto;
  position: absolute;
  height: 70%;
  width: 90%;
  margin: 3% 4% 1% 1%;
}

.userinf {

  padding: 50px;
  width: 30%;
  height: 100%;
}

.userinf #imgg2 {
  margin-top: 5%;
  padding: 100px;
}

.userinf h3 {
  font-family: 'Montserrat';

}

.userinf input {
  margin-bottom: 20%;
  padding: 5px;
  border-radius: 30px;
  width: 120%;
  height: 10%;
  background-color: #A1C6E8;
  border-color: #ffffff00;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.241);

}

#paidcourses {
  background-color: #d7e4f2;
  border-radius: 30px;
  margin-top: 3%;
  padding: 100px;
  width: 40vh;
  height: 80%;
  position: absolute;
}





/* CONTENT */









@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  #content nav .nav-link {
    display: none;
  }
}






@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }

  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }

  #content nav form.show~.notification,
  #content nav form.show~.profile {
    display: none;
  }

  #content main .box-info {
    grid-template-columns: 1fr;
  }

  #content main .table-data .head {
    min-width: 420px;
  }

  #content main .table-data .order table {
    min-width: 420px;
  }

  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
}