


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #ffffff;
    margin: 0px;


}

.navbar {

    display: flex;


}

#logo1 {

    margin: 1% 7%;

}

.nav1 {

    width: 70%;

    text-align: center;
    margin-left: -2.5%;
    margin-top: 2%;


}

.nav1 a {
   font-family: 'Montserrat';
    padding: 3%;
    font-size: larger;
    text-decoration: none;
    color: #1E1B6D;
}

.nav1 a:hover {
    color: #493EEB;
    transition: 0.5s;
}

#eli {
    margin-right: 2%;
    width: 30%;


}


.button {
    
    background-color: #493EEB;
    border: 2px solid black;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6% 3%;
    cursor: pointer;
    font-family: 'Montserrat';
}

.button:hover {
    background-color: #1E1B6D;
    transition: 0.3s;
}




.theintro {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    height: 80vh;
    position: relative;


}

.the_text {
   
    width: 50%;
    position: relative;
}

#text {
    font-family: 'Montserrat';
    margin-top: 10%;
    margin-left: 10%;
    
    font-size: 2.1em;
    color: #1E1B6D;


}

#selection {
    height: 12vh;
    width: 75vh;
    position: absolute;
    display: flex;
    justify-content: space-between;

    background-color: #F3F3F3;
    border-radius: 30px;
    margin-left: 20%;
    margin-top: 5%;

}

#usaimg {

    top: 1cm;
    left: 0.5cm;
    position: absolute;
    float: left;

}

#engnat {
    top: 0.4cm;
    font-family: 'Montserrat';
    color: #1E1B6D;
    font-weight: 800;
    position: absolute;
    left: 0.5cm;
}

#engnat1 {
    font-family: 'Montserrat';
    color: #1E1B6D;
    font-weight: 800;
    margin: 1px;
    top: 1cm;
    position: absolute;
    left: 2cm;
}

#vl {
    border-left: 6px solid rgb(243, 239, 234);
    height: 70px;
    position: absolute;
    left: 6cm;
    margin-left: 3px;
    margin-top: 0.25cm;
}

#frnimg {

    top: 1cm;
    left: 7cm;
    position: absolute;
    float: left;

}

#frnnat {
    top: 0.4cm;
    font-family: 'Montserrat';
    color: #1E1B6D;
    font-weight: 800;
    position: absolute;
    left: 7cm;
}

#frnnat1 {
    font-family: 'Montserrat';
    color: #1E1B6D;
    font-weight: 800;
    margin: 1px;
    top: 1cm;
    position: absolute;
    left: 8.5cm;

}

#bot3 {
    cursor: pointer;
    width: 2.1cm;
    height: 2cm;
    background-color: #493EEB;
    font-size: larger;
    font-family: 'inter';
    color: #ffffff;
    margin: 1px;
    top: 0.2cm;
    position: absolute;
    left: 11.7cm;
    border-radius: 0.2cm;

}

.image {


    width: 50%;

}

#section0{
    display: flex;
    margin-bottom: 3%;
    padding: 90px;
}
.stat{
   
   margin: 0% 5% 0% 5%; 
   width: 100%;
   padding: 5%;
  

}
.stat h3{
    color: #173a5caa;
    font-family: 'Montserrat';
}
.Cources {

    position: relative;

    display: flex;
    height: 100vh;

    justify-content: center;
    align-items: center;
    background-image: url(photo/Rectangle14.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.Cources h2 {
    position: absolute;
    font-family: 'inter';
    font-size: 1.2cm;
    font-weight: bold;
    color: #FFFFFF;
    position: absolute;
    top: 5%;
    left: 39%;



}







#anim {
    position: absolute;
    overflow: hidden;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 400px;
    background-color: #f3fafe;
    border-radius: 10px;
    box-shadow:0 25px 30px #00000077;
  }
  

.swiper-slide:not(.swiper-slide-active) {
    filter: blur(2px);
}
.card__image {
    margin-top: 3%;
    width: 14em;
    height: 12em;
    border-radius:10%;
    padding: 3px;
    margin-left: 18%;
    margin-bottom: 2em;
   box-shadow:0px 50px 30px 30px #56b7f980;
	

}



.card__image img {
    width: 100%;
    height: 100%;
    


}

.card__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.card__title {
    font-size:larger;
    font-weight: 500;
    text-align: center;
    position: relative;
    font-family: 'MONTSERRAT';
  
}


.card__btn {
    background-color: #493EEB;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: .8em;
    border-radius: 30px;
    margin-top: 10%;
    cursor: pointer;
    font-family: 'MONTSERRAT';
    border-color: #ffffff;
}
.card__btn a{
    text-decoration: none;
    color: #FFFFFF;
}


.the_textt {
    margin-top: 5%;
    width: 50%;
    position: relative;
    
}

.the_textt h4 {
    margin-top: 2%;
    margin-left: 22%;
    color: #1E1B6D;
    font-family: 'MONTSERRAT';
}

#appbutt {
    margin-left: 25%;
}

.appbutton {
    margin-left: 3%;
    box-shadow: 2px 2px #000000;
    width: 200px;
    height: 50px;
    background-color: #1E1B6D;
    font-size: larger;
    font-family: 'MONTSERRAT';
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;

}

.appbutton:hover {
   
    background-color: #493EEB;
}


/*blog station*/

.blogg {

    position: relative;
    margin-top: -5%;
    display: flex;
    height: 110vh;
     margin-bottom: 10%;
    justify-content: center;
    align-items: center;


}

#swiper-wrapperr {

    height: 40em;


}

.swiper-slide .image-overlay {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

  }

.cardd img {
    position: absolute;
    min-width: 100%;
    max-height: 100%;
    border-radius: 2em; /* Apply border-radius to image if needed */
}


.cardd {

    width: 30em;
    height: 80vh;
    background-color: #1e1b6d7a;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 2em 25em;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 5em;
}

/*the location*/
 
.map-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 56%; 
   margin-left: 10%;

    
  }
  

  .map-container iframe {
    position: absolute;
     border-radius: 30px;
    width: 90%;
    height: 90%;
   
  }
  

/*the reviews section*/
.revnam {
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
}
.review{
    display: flex;
    flex-direction: column;
}

.revnam h1 {
    color: #1E1B6D;
    font-size: 50px;
    font-family: 'MONTSERRAT';
}

.rating-box {
    position: relative;
    background: #fff;
    padding: 25px 50px 35px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
}

.rating-box header {
    font-size: 22px;
    color: #1E1B6D;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'MONTSERRAT';

}

.rating-box .stars {
    display: flex;
    align-items: center;
    gap: 25px;
}

.rating-box .stars {
    display: flex;
    align-items: center;
    gap: 25px;
}

.stars i {
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.stars i.active {
    color: #ff9c1a;
}

.revnam1 {
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
}

.revnam1 button {
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: #493EEB;
    font-size: larger;
    font-family: 'MONTSERRAT';
    color: #ffffff;

    border-radius: 0.2cm;
}
.revnam1 button:hover{
   background-color: #1E1B6D; 
}

/*the end of the page*/
#reffrence {
    margin-top: 15%;
    min-width: 100vh;
    width: 100%;
    height: 80vh;
    position: relative;

    background: #1E1B6D;

}

#reffrence img {
    position: absolute;
    margin-top: 3%;
    margin-left: 38%;
}







.grid-container {
    margin-left: 15%;
    margin-top: 10%;
    position: absolute;
    width: 70%;
    display: inline-grid;
    grid-template-columns: auto auto;


}

.grid-item {

    color: #fff;
    padding: 15%;

}

.grid-item h2 {
    font-family: 'MONTSERRAT';
    margin-bottom: 10%;


}

.grid-item a {
    color: #fff;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'MONTSERRAT';
    display: block;
    text-decoration: none;

}

.grid-item a:hover {
    color: #493EEB;
}

#h22 {
    font-family: 'MONTSERRAT';
    margin-top: 13%;
}

/* For smaller screens */
@media only screen and (max-width: 600px) {
    /* Adjust navbar layout */
    .navbar {
      flex-direction: column;
    }
    
    /* Adjust logo size */
    #logo1 {
      margin: 2% auto;
    }
    
    /* Adjust navigation links */
    .nav1 {
      width: 100%;
      text-align: center;
      margin: 0;
    }
    
    .nav1 a {
      padding: 2%;
      font-size: smaller;
    }
    
    /* Adjust button styles */
    .button {
      margin: 4% auto;
    }
    
    /* Adjust intro section layout */
    .theintro {
      flex-direction: column;
      height: auto;
    }
    
    .the_text, .image {
      width: 100%;
      text-align: center;
      margin: 2% auto;
    }
  }
  
  /* For larger screens */
  @media only screen and (min-width: 768px) {
    /* Add your styles for larger screens here */
  }
  