* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: rgba(223, 233, 245, 0.001);
}

.container {
    display: flex;
}

nav {

    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #1E1B6D;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}


.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}

nav .fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    background: #493EEB;

}

.logout {
    position: absolute;
    bottom: 2%;
}

/* Main Section */


.main {
    position: relative;
    padding: 20px;
    width: 100%;
}

.search-container {
    width: 25%;
    display: flex;
    margin-bottom: 20px;

}

#search-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 5px 0 0 5px;
}

#searchb {
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    background-color: #f2f2f2;
    cursor: pointer;
}

button:hover {
    background-color: #e6e6e6;
}


.main-skills {
    display: flex;
    margin-top: 20px;
    height: 58%;
}

.main #cou {
    width: 70%;
    margin: 10px;
    background: #D8E8F5;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.518);

    display: flex;

}

#cou .subcou {

    color: #1E1B6D;
    width: 40%;
    margin-left: 2%;
    background: #ffffff;
    text-align: center;
    border-radius: 20px;
    padding-left: 20px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.518);

}

.main #cou2 {
    width: 30%;
    margin: 10px;
    background: #1E1B6D;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.518);

    display: flex;
    flex-direction: column;

}

#cou2 .subcou2 {
    background-color: #ffffff;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    height: 20%;
    font-size: 30px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);

}


.main-skills .card h3 {
    margin: 10px;
    text-transform: capitalize;
}


/* Courses */
.main-course {
    margin-top: 30px;
    text-transform: capitalize;
}

.course-box {
    width: 100%;
    height: 200px;
    padding: 20px 10px 30px 10px;
    margin-top: 10px;
    background: #D8E8F5;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.course-box ul {
    list-style: none;
    display: flex;
}

.course-box ul li {
    margin: 10px;
    color: gray;
    cursor: pointer;
}

.course-box ul .active {
    color: #000;
    border-bottom: 1px solid #000;
}

.course-box .course {
    display: flex;
}

.box {
    width: 33%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: #D8E8F5;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.box h3 {

    margin-top: 25px;
}

.box button {
    background: #000;
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px;
    margin-top: 3rem;
    cursor: pointer;
}

.box button:hover {
    background: rgba(0, 0, 0, 0.842);
}

.box i {
    font-size: 25px;
    float: left;
    margin: 20px 20px 50px 50px;
}

/*Attendance List serction  */
#addUser {
    padding-bottom: 20px;

    width: 100%;
}

#addUser input::placeholder {

    color: #1E1B6D;
}

.attendance {

    margin-left: 2%;
    margin-top: 20px;
    text-transform: capitalize;
    width: 100%;
    height: 100%;
}

.attendance-list {

    width: 95%;
    padding: 10px;
    margin-top: 20px;
    background: #A1C6E8;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.attendance-list h1 {
    margin-bottom: 2%;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
}

.table {

    border-collapse: collapse;
    margin: 25px 0;

    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

table thead tr {

    color: #1E1B6D;
    background: hsl(209, 43%, 80%);
    text-align: left;
    font-weight: bold;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #ddd;
}



.table button {
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #1E1B6D;
}

.table button:hover {
    background: hsl(209, 43%, 80%);
    color: #fff;
    transition: 0.5rem;
}

/*the setting section*/


#set {
    background-color: #D8E8F5;
    width: 100%;
    block-size: 17cm;
    border-radius: 5%;
    display: flex;
    flex-direction: column;




}

.sett {
    margin-left: 2%;
    margin-top: 4%;
    background-color: #ffffff;
    block-size: 5cm;
    width: 95%;
    border-radius: 10px;



}

.sett:nth-child(2) {
    block-size: 4cm;
}

.sett:nth-child(3) {
    block-size: 3cm;
}

.sett h3 {
    margin-top: 1%;
    margin-left: 2%;
    color: #493EEB;
}

.sett form {
    margin: 1% 8%;

    width: 90%;
}

.sett form table {
    width: 90%;
}

.sett form label {
    font-size: 15px;
}

.sett form input {
    background-color: #A1C6E8;
    border-radius: 10px;
    padding: 8px;
    width: 50%;


}

.sett form ::placeholder {
    color: #407BFF;
}

.sett form .sav {

    margin-left: 0%;
    width: 80px;
    cursor: pointer;
    background-color: #A1C6E8;
    color: #000000;

}

.sett form .sav:hover {
    color: #ffffff;
    background-color: #407BFF;
    transition: 0.2s;

}

#i1 i {
    margin-top: -2%;
    font-size: 25px;
    margin-left: 5%;
}

#i3 p {
    font-size: 15px;
    margin-top: -4%;
    margin-left: 3%;

}

#i3 button {


    border-radius: 15px;
    height: 30px;
    width: 80px;
    cursor: pointer;
    background-color: #407BFF;
    color: #D8E8F5;

}

#i3 button:hover {
    color: #000;
    background-color: #A1C6E8;
    transition: 0.2s;
}

/*programs section*/
#Programs {
    background-color: #D8E8F5;
    width: 95%;
    block-size: 17cm;
    border-radius: 25px;

}

.dropdown {
    display: inline-block;
}

.dropdown button {
    background-color: #1E1B6D;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    border: none;
    cursor: pointer;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: #407BFF;
    min-width: 100px;
    box-shadow: 2px 2px 5px rgb(39, 35, 35);

}

.dropdown:hover .content {
    display: block;
}

.dropdown a:hover {

    background-color: #493EEB;
}

.program-section {
    display: none;
}





#languagesList {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;

    max-height: 800px;
    /* Adjust max height as needed */
    overflow-y: auto;
}

.language-item {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    width: 80%;
    height: 80%;
    padding: 2px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.language-item img {
    border-radius: 10%;
    width: 60px;
    height: 40px;
    margin-left: 10px;
    margin-right: 60px;
}

.language-item span {
    margin-right: 30px;
    font-size: larger;

}

.delete-btn {
    margin-left: 20%;
    cursor: pointer;
    color: red;
}

/* Add styles for the courses section to match the language section */
#coursesList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* Style for individual course item */
.course-item {

    width: 250px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.course-item img {
    border-radius: 10%;
    width: 60px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.course-item span {
    font-size: larger;
    margin-right: 3px;
}

.delete-btn {
    margin-left: auto;
}

/* Style for the "Details" button */
.details-btn {
    background-color: #1E90FF;
    /* Adjust button color as needed */
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    /* Adjust margin as needed */
}

.details-btn:hover {
    background-color: #0077FF;
    /* Adjust button color on hover as needed */
}
/* Style for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Style for the modal content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* Style for the close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .Students_det{
    position: relative;
   

  }
  .file{
    position: absolute;
    
    margin-top: 5%;
  }
  #info1{
    margin-left: 3%;
    height: 50%;
  }
  #info2{
    margin-left: 40%;
  }
  #student_info {
    block-size: 50%;
  }
  #student_img{
    width:200px;
    block-size: 150px ;
  }
  .file #claass{
   
    margin-top: 10%;
    background-color: #fff;
    width:400px;
    block-size: 400px ;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.36);
    border-radius: 10px;
    
    
  }
 
 


  